* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Plain Light";
}

html,
body {
  height: 100%;
  width: 100%;
  /* cursor: none; */
}

#cursor {
  height: 2.7vw;
  width: 2.7vw;
  border-radius: 50%;
  /* background-color: white; */
  border: 2px solid rgb(158, 158, 158);
  position: fixed;
  z-index: 99;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 25vh 10vw;
}

.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
}

#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 300;
}

#line1-part1 h5 {
  /* background-color: red; */
  width: 5vw;
}

.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-family: "Plain light";
}

.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  47% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}
#main {
  position: relative;
  background-color: #111;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 4vw;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-size: 1vw;
  font-weight: 500;
}

.banner {
  /* background-color: red; */
  width: 72%;
  margin-left: 28%;
  height: fit-content;
  /* background-color: red; */
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999;
}

.banner:nth-child(2) {
  margin-top: 18vh;
}
.banner h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 7vw;
  line-height: 7vw;
}

.banner h2,
.banner h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 7vw;
  line-height: 7vw;
}

.banner h2:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 500;
}
